
	<%- include('partials/head') %>
<%- include('partials/nav') %>
        <main>  
            <h1>500 - the server is not working at the moment, try later</h1>
            <a href="/">Go to home page</a>
        </main>
       
<%- include('partials/footer') %>