* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #182842;
  color: #FCFDFD;
}

.green-bg {
  background-color: #C6E9A7;
  color: #182842;
}

.sky-bg {
  background-color: #2AC9E7;
  color: #182842;
}

.violet-bg {
  background-color: #CBBFD7;
  color: #182842;
}

main {
  margin: 2rem 8rem;
  min-height: 75vh;
}

.presentation {
  margin: 2rem 6rem;
  border: 3px solid #CBBFD7;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .presentation {
    margin: 0 1rem;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #24344E;
  color: #FCFDFD;
  height: 10vh;
  padding: 0 4rem;
  text-align: center;
}
@media (max-width: 1024px) {
  header {
    padding: 1rem;
    height: auto;
  }
}
header #logo {
  height: 10vh;
}
header nav a {
  color: #FCFDFD;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
}
header nav a:hover {
  text-decoration: underline;
  color: #CBBFD7;
}

.main-content {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  color: #FCFDFD;
}
.main-content .container {
  width: 70%;
  color: #FCFDFD;
  padding: 1rem 0.5rem;
}
@media (max-width: 900px) {
  .main-content .container {
    width: 100%;
  }
}
.main-content .container .title {
  font-weight: bold;
  color: #FCFDFD;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
@media (max-width: 900px) {
  .main-content .container .title {
    display: none;
  }
}
.main-content .container .pack, .main-content .container .buttons, .main-content .container .user {
  color: #FCFDFD;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
@media (max-width: 900px) {
  .main-content .container .pack, .main-content .container .buttons, .main-content .container .user {
    display: block;
  }
  .main-content .container .pack .buttons, .main-content .container .buttons .buttons, .main-content .container .user .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-content .container .pack-name {
  min-width: 300px;
}
.main-content .container .pack-destination {
  min-width: 8rem;
}
.main-content .container .pack-price {
  float: right;
  width: 6rem;
}
.main-content .container .user-name {
  min-width: 8rem;
}
.main-content .container .user-firstname {
  min-width: 8rem;
}
.main-content .container .user-email {
  min-width: 12rem;
}
.main-content .container .disactive-input {
  border: none;
  background-color: transparent;
  color: #FCFDFD;
  padding: 0.2rem;
}
.main-content .container .active-input {
  border: 1px solid rgb(143, 143, 143);
  background-color: rgb(212, 211, 213);
  padding: 0.2rem;
  border-radius: 5px;
}
.main-content .container .pack, .main-content .container .user {
  border-bottom: solid 1px #24344E;
  padding: 0.5rem 0;
}
.main-content .container .pack > *, .main-content .container .user > * {
  padding: 0.3rem 0;
}

.buttons {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.buttons button:hover {
  opacity: 0.8;
}
.buttons .delete-btn {
  background-color: #e74c3c;
  color: #FCFDFD;
}

.formidable {
  background-color: #C6E9A7;
  border: solid 2px #abca90;
  color: #182842;
  border-radius: 20px;
  padding: 1rem 0.5rem;
  width: 30%;
}
.formidable h3 {
  padding: 0.5rem;
}
.formidable form {
  padding: 1rem 0.5rem;
}
.formidable form .container-dates {
  display: flex;
  justify-content: space-between;
}
.formidable form .container-dates .input {
  width: auto;
}
.formidable form input {
  width: 100%;
  padding: 0.3rem 0.2rem;
  margin-bottom: 0.5rem;
  min-height: 2rem;
  border-radius: 5px;
  border: none;
}
.formidable form .btn-create {
  background-color: #182842;
  color: #C6E9A7;
  border-radius: 20px;
  width: 100%;
  padding: 0.3rem 0.2rem;
  margin-bottom: 0.5rem;
  min-height: 3rem;
}
.formidable form .btn-create:hover {
  background-color: #C6E9A7;
  color: #182842;
  border: 1px solid #182842;
}

.orders-page {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .orders-page {
    display: block;
  }
}
.orders-page .order-list {
  padding: 2rem 1rem;
  width: 70%;
}
.orders-page .order-list .order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px gray;
}
@media (max-width: 900px) {
  .orders-page .order-list .order {
    display: block;
  }
}
.orders-page .order-list .order .order-details {
  display: grid;
  width: 100%;
  grid-template-columns: 5rem auto 8rem;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
@media (max-width: 900px) {
  .orders-page .order-list .order .order-details {
    display: block;
  }
}
.orders-page .order-list .order .order-details .item-number {
  grid-row: 1/span 2;
  font-size: 1.2rem;
}
.orders-page .order-list .order .list-order {
  margin: 1rem 1rem;
}
.orders-page .order-list .order .buttons {
  margin-bottom: 0.5rem;
}
.orders-page .right-side {
  width: 30%;
}

.single-order {
  font-size: 1.5rem;
}
.single-order p {
  margin: 1rem 0;
}
.single-order .flex {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
@media (max-width: 900px) {
  .single-order .flex {
    display: block;
  }
}
.single-order select {
  padding: 0.3rem;
  font-size: 1.2rem;
  color: black;
}
.single-order li {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 900px) {
  .single-order li {
    display: block;
  }
  .single-order li .ordered-pack > * {
    margin-top: 1rem;
    width: -webkit-fill-available;
  }
  .single-order li .quantity-ordered {
    margin-top: 1rem;
  }
}

#mod-order {
  background-color: #5e3ce7;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid #5e3ce7;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
#mod-order:hover {
  opacity: 0.8;
}

#save-order {
  background-color: #a0e73c;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid #5e3ce7;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
#save-order:hover {
  opacity: 0.8;
}

footer {
  background-color: #24344E;
  color: #FCFDFD;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  font-size: 1.2rem;
}

@media (max-width: 1240px) {
  main {
    margin: 2rem 2rem;
  }
  main .main-content {
    display: block;
  }
  main .container {
    width: 100%;
  }
  main .formidable {
    width: 100%;
    margin-top: 2rem;
  }
  .orders-page {
    display: block;
  }
  .orders-page .formidable {
    width: 100%;
    margin-top: 2rem;
  }
  .orders-page .formidable .container-dates {
    justify-content: flex-start;
    gap: 1rem;
  }
  .orders-page .formidable select {
    width: 100%;
    padding: 0.3rem 0.2rem;
    margin-bottom: 0.5rem;
    min-height: 2rem;
    border-radius: 5px;
    border: none;
  }
  .orders-page .order-list {
    padding: 0.5rem;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
