<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Orizon Project | Arianna Pesce</title>
		<meta name="keywords" content="Node.js, JavaScript, Express, EJS, Web Development, Orizon Project">
		<meta name="description" content="Orizon Project - A web application built with Node.js, Express, and EJS by Arianna Pesce.">
		<meta name="author" content="Arianna Pesce">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="icon" href="../../public/images/favicon.ico" type="image/x-icon">

	</head>