<body>
        <header class="flex">
            <div class="flex">
                <img id="logo" src="/images/logo-horizon.png" alt="logo">
                <p>ORIZON</p>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/packs">Packs</a>
                <a href="/users">Users</a>
                <a href="/orders">Orders</a>
            </nav>
        </header>